
body, html {
	height: 100%;
	width: 100%;
}

body {
	background: black url(https://upload.wikimedia.org/wikipedia/commons/7/73/Columbia-Butler-Library.jpg) no-repeat fixed center center;
}

button {
	background: #FF9900;
	color: #EEEEEE;
	font-size: 1.5rem;
	font-weight: 500;
}

button:hover {
	background-color: #D77E22;
}
.about_button {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	font-size: 24px;
	text-align: center;

	color: #000000;
}
.projects_button {
	margin-top: 0px;
	margin-left: center;



	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	font-size: 24px;
	text-align: center;

	color: #000000;
}
.contact_button {
	left: 960px;
	top: 0%;
	bottom: 0%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	font-size: 24px;
	text-align: center;

	color: #000000;
}







