<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project Page</title>

	<link rel="stylesheet" href="css/styleprojects.css">

</head>
<body>
	<html>
	<head>
		<meta charset="utf-8">
        <title>Lukas Website Header</title>
        <link href="styles.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500' rel='stylesheet' type='text/css'>
    </head>

    <body>
    <div class="header">

    <div class="nav">

        <div class="logo">
        <ul>
            <li><a href="/">LUKAS GEIGER</a></li>
        </ul>
    </div> <!--logo-->

       <div class="main-nav">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/rowing.html">Rowing</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
       </div> <!--END main-nav-->

    </div> <!--END nav-->

    </div> <!--END header-->

    <div class="main-wrapper"> <img src="images/Raphael_School_of_Athens.jpg"  class="scale-image"/>
	
    </div> <!--END MAIN IMAGE-->

    <div class= "content">
	<div class="main-text">
	<h1>C150 Rankings</h1>
	<p>The purpose for this website is to create a motivation for athletes on the Columbia Rowing (C150) team to upload more of their data onto Training Peaks.
	Training Peaks is an application the coaches use to monitor fitness and fatigue levels (amongst other data fields).
	We will display a ranked list of hours logged updated weekly, and, due to the competitive nature between athletes, they will be more motivated to upload all of their data.
	For more information please read the detailed outline <a href="https://drive.google.com/file/d/1HHwZq2sI0DBk9f-UMeV8MYHYhMpAWNMN/view?usp=sharing">here</a>.</p>
	<br/><br/>
	<h1>Personal Website</h1>
	<p>This website which you are currently on is built from the ground up and is a personal project of mine. 
	For more information on how it was made and to see the code behind the website please visit my <a href="https://github.com/ljogeiger/lukasgeiger.com">code repository</a> and read the README file.</p> 
	</div>
    </div>
	</body>
	</html>
</body>
</html>















